.Button {
    border: none;
    cursor: pointer;
    background-color: var(--blue-light);
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    transition: var(--transition-time);
    box-shadow: 0 0.2rem 0 var(--blue-darker);

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }

    &:not(&.disabled):active {
        box-shadow: 0 0.1rem 0 var(--blue-darker);
        transform: translateY(0.1rem);
    }
}
