.GameControls {
    margin-top: 2rem;
    width: 100%;

    @media screen and (min-width: 1024px) {
        margin-left: 3.5rem;
        margin-top: 4.5rem;
        width: 18rem;
    }
}

.ActionButtonContainer {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-bottom: 1rem;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0.5rem;
    }
}

.ActionButton {
    flex-grow: 1;
    border-radius: 0.5rem;

    &.disabled {
        cursor: default;
    }
}
