.GameControls {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: 2rem;
    width: 20rem;
}

.Header {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.HeaderButton {
    flex-grow: 1;
    border-radius: 0.5rem;
    height: 3rem;
}

.DigitButtons {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;
    margin-bottom: 2rem;
}

.InfoLabel {
    font-weight: bold;

    &.success {
        color: var(--green);
        text-transform: uppercase;
        font-size: 1.25rem;
        text-align: center;
    }

    &.failure {
        color: var(--red);
        text-transform: uppercase;
        font-weight: 1.25rem;
        text-align: center;
    }
}
