.SudokuGrid {
    position: relative;
    overflow: hidden;
}

.Content {
    background-color: var(--black);
    color: var(--black);
    display: grid;
    gap: 0.1rem;
    grid-template: repeat(9, auto) / repeat(9, auto);
    padding: 0.2rem;
    width: max-content;

    &.success {
        background-color: var(--green);
    }

    &.failure {
        background-color: var(--red);
    }
}

.Cell {
    align-items: center;
    background-color: var(--gray-lighter);
    display: grid;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    justify-items: center;
    user-select: none;
    width: 3rem;

    &:nth-child(3n):not(:nth-child(9n)) {
        margin-right: 0.1rem;
    }

    &:nth-child(27n + 28),
    &:nth-child(27n + 29),
    &:nth-child(27n + 30),
    &:nth-child(27n + 31),
    &:nth-child(27n + 32),
    &:nth-child(27n + 33),
    &:nth-child(27n + 34),
    &:nth-child(27n + 35),
    &:nth-child(27n + 36) {
        margin-top: 0.1rem;
    }

    &.shaded {
        background-color: var(--gray);
    }

    &:not(.checkMode):not(.hint):not(.clue) {
        color: var(--blue-darker);
    }

    &.affected:not(.checkMode) {
        background-color: var(--blue-light);
    }

    &.selected:not(.checkMode) {
        background-color: var(--blue);
    }

    &.clue.checkMode {
        background-color: var(--blue-dark);
    }

    &.error {
        &.hint,
        &.checkMode {
            background-color: var(--red);
        }
    }

    &.correct {
        &.hint,
        &.checkMode {
            background-color: var(--green);
        }
    }

    &.bad:not(.checkMode):not(.hint):not(.clue) {
        color: var(--red);
    }

    &.withNotes:not(.checkMode):not(.hint) {
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        font-size: 0.5rem;
        padding: 0.25rem;
    }
}
