.SudokuGrid {
    position: relative;
    overflow: hidden;
}

.Content {
    background-color: var(--black);
    color: var(--black);
    display: grid;
    gap: 0.1rem;
    padding: 0.2rem;
    width: max-content;

    &.success {
        background-color: var(--green);
    }

    &.failure {
        background-color: var(--red);
    }

    &.size_4 {
        grid-template: repeat(4, auto) / repeat(4, auto);
    }

    &.size_6 {
        grid-template: repeat(6, auto) / repeat(6, auto);
    }

    &.size_8 {
        grid-template: repeat(8, auto) / repeat(8, auto);
    }

    &.size_9 {
        grid-template: repeat(9, auto) / repeat(9, auto);
    }
}

.Cell {
    align-items: center;
    background-color: var(--gray-lighter);
    display: grid;
    font-weight: bold;
    justify-items: center;
    user-select: none;

    &.shaded {
        background-color: var(--gray);
    }

    &:not(.hint):not(.clue) {
        color: var(--blue-darker);
    }

    &.bad:not(.hint):not(.clue) {
        color: var(--red);
    }

    &.affected:not(.checkMode) {
        background-color: var(--blue-light);
    }

    &.selected:not(.checkMode) {
        background-color: var(--blue);
    }

    &.clue.checkMode {
        background-color: var(--blue-dark);
    }

    &.error {
        &.hint {
            background-color: var(--red);
        }
    }

    &.correct {
        &.hint {
            background-color: var(--green);
        }
    }

    &.withNotes:not(.hint) {
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        font-size: 0.65rem;
        padding: 0.1rem;
    }

    &.size_4 {
        font-size: 2.5rem;
        width: 6rem;
        height: 6rem;

        &:nth-child(2n):not(:nth-child(4n)) {
            margin-right: 0.1rem;
        }

        &:nth-child(8n + 9),
        &:nth-child(8n + 10),
        &:nth-child(8n + 11),
        &:nth-child(8n + 12) {
            margin-top: 0.1rem;
        }
    }

    &.size_6 {
        font-size: 2rem;
        width: 4rem;
        height: 4rem;

        &:nth-child(3n):not(:nth-child(6n)) {
            margin-right: 0.1rem;
        }

        &:nth-child(12n + 13),
        &:nth-child(12n + 14),
        &:nth-child(12n + 15),
        &:nth-child(12n + 16),
        &:nth-child(12n + 17),
        &:nth-child(12n + 18) {
            margin-top: 0.1rem;
        }
    }

    &.size_8 {
        font-size: 1.5rem;
        width: 3.25rem;
        height: 3.25rem;

        &:nth-child(4n):not(:nth-child(8n)) {
            margin-right: 0.1rem;
        }

        &:nth-child(16n + 17),
        &:nth-child(16n + 18),
        &:nth-child(16n + 19),
        &:nth-child(16n + 20),
        &:nth-child(16n + 21),
        &:nth-child(16n + 22),
        &:nth-child(16n + 23),
        &:nth-child(16n + 24) {
            margin-top: 0.1rem;
        }
    }

    &.size_9 {
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;

        &:nth-child(3n):not(:nth-child(9n)) {
            margin-right: 0.1rem;
        }

        &:nth-child(27n + 28),
        &:nth-child(27n + 29),
        &:nth-child(27n + 30),
        &:nth-child(27n + 31),
        &:nth-child(27n + 32),
        &:nth-child(27n + 33),
        &:nth-child(27n + 34),
        &:nth-child(27n + 35),
        &:nth-child(27n + 36) {
            margin-top: 0.1rem;
        }
    }
}

.CellNote {
    &.hidden {
        visibility: hidden;
    }
}
