.SudokuGrid {
    position: relative;
    overflow: hidden;
}

.Content {
    background-color: var(--black);
    color: var(--black);
    display: grid;
    gap: 0.1rem;
    grid-template: repeat(9, auto) / repeat(9, auto);
    padding: 0.2rem;
    width: max-content;

    &.success {
        background-color: var(--green);
    }

    &.failure {
        background-color: var(--red);
    }
}

.Cell {
    align-items: center;
    background-color: var(--gray-lighter);
    display: grid;
    font-size: 1.5rem;
    height: 3rem;
    justify-items: center;
    user-select: none;
    width: 3rem;

    &:nth-child(3n):not(:nth-child(9n)) {
        margin-right: 0.1rem;
    }

    &:nth-child(27n + 28),
    &:nth-child(27n + 29),
    &:nth-child(27n + 30),
    &:nth-child(27n + 31),
    &:nth-child(27n + 32),
    &:nth-child(27n + 33),
    &:nth-child(27n + 34),
    &:nth-child(27n + 35),
    &:nth-child(27n + 36) {
        margin-top: 0.1rem;
    }

    &.affected:not(.checkMode) {
        background-color: var(--blue-light);
    }

    &.selected:not(.checkMode) {
        background-color: var(--blue-dark);
    }

    &.clue {
        font-weight: bold;

        &.checkMode {
            background-color: var(--blue-dark);
        }
    }

    &.hint {
        font-weight: bold;
    }

    &.error {
        &.hint,
        &.checkMode {
            background-color: var(--red);
        }
    }

    &.correct {
        &.hint,
        &.checkMode {
            background-color: var(--green);
        }
    }
}

.MainDiagonal {
    width: 141%;
    transform: rotate(45deg);
    transform-origin: top left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0.1rem;
}

.AntiDiagonal {
    width: 141%;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0.1rem;
}
