.Icon {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    padding: 0;

    &.translucent {
        opacity: 0.5;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.Content {
    position: relative;
}

.Badge {
    align-items: center;
    background: var(--blue-light);
    border-radius: 0.625rem;
    color: var(--black);
    display: flex;
    font-size: 0.75rem;
    font-weight: bold;
    height: 1.25rem;
    justify-content: center;
    min-width: 1.75rem;
    position: absolute;
    right: -2rem;
    top: -0.5rem;
}

.Image {
    width: auto;
    pointer-events: none;

    &.size_s {
        height: 1.5rem;
    }

    &.size_m {
        height: 2rem;
    }

    &.size_l {
        height: 3rem;
    }
}

.Caption {
    color: var(--blue-darker);
    font-weight: bold;
    transition: opacity var(--transition-time);

    &.hidden {
        opacity: 0;
    }
}
