.Icon {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 0;
}

.Icon {
    width: auto;
    height: 2rem;
}
