.MainPage {
    position: relative;
    width: 100%;
    min-height: 47rem;

    @media screen and (min-width: 1024px) {
        min-height: auto;
    }
}

.Title {
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.Body {
    width: 28rem;
    margin: 0 auto 2rem;
    background-color: var(--blue-lighter);
    border-radius: 1rem;
    padding: 2rem 2rem 3rem;
    position: relative;
}

.Section {
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    .SectionTitle {
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        text-align: center;
    }

    &.horizontal {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        margin-top: 2.5rem;

        .SectionTitle {
            margin-bottom: 0;
        }
    }
}

.SectionContent {
    display: flex;
    column-gap: 3rem;
    margin-left: auto;

    &.HelpContent {
        margin-right: 1.5rem;
    }
}

.GridSizeItem {
    font-size: 1.2rem;
}
