.MainPage {
    position: relative;

    @media screen and (min-width: 1024px) {
        min-height: auto;
    }
}

.Title {
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.Body {
    width: 28rem;
    margin: 0 auto 2rem;
    background-color: var(--blue-lighter);
    border-radius: 1rem;
    padding: 2rem 2rem 3rem;
    position: relative;
}

.Section {
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    .SectionTitle {
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        text-align: center;

        font-size: 1.75rem;

        @media screen and (min-width: 1024px) {
            font-size: 1.5rem;
        }
    }

    .SectionContent {
        display: flex;
        column-gap: 3rem;
        margin-left: auto;
    }

    &.horizontal {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        margin-top: 2.5rem;

        .SectionTitle {
            width: 6rem;
            margin-bottom: 0;
            text-align: left;
        }

        .SectionContent {
            margin-left: 0;
        }
    }
}

.GameModeItem {
    font-size: 1.25rem;

    @media screen and (min-width: 1024px) {
        font-size: 1rem;
    }
}

.GridSizeItem {
    font-size: 1.5rem;

    @media screen and (min-width: 1024px) {
        font-size: 1.25rem;
    }
}
