.MainPage {
    position: relative;
    width: 100%;
    min-height: 46rem;

    @media screen and (min-width: 1024px) {
        min-height: auto;
    }
}

.Title {
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.Body {
    width: 28rem;
    margin: 0 auto 2rem;
    background-color: var(--blue-lighter);
    border-radius: 1rem;
    padding: 2rem 2rem 3rem;
    position: relative;
}

.Section {
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    .SectionTitle {
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        text-align: center;
    }

    &.horizontal {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        margin-top: 2.5rem;

        .SectionTitle {
            margin-bottom: 0;
        }
    }
}

.SectionContent {
    display: flex;
    column-gap: 3rem;
    margin-left: auto;

    &.HelpContent {
        margin-right: 1.5rem;
    }
}

.GameTypeItem {
    font-size: 0.9rem;
}

.BoardSizeItem {
    font-size: 1.1rem;
}

.PlayButton {
    align-items: center;
    background-color: var(--blue-light);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0.5rem 2rem var(--blue-light);
    column-gap: 0.5rem;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    height: 4.5rem;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    transition: transform var(--transition-time);
    user-select: none;
    width: 14rem;

    left: calc(50% - 7rem);
    right: auto;
    bottom: -6rem;
    top: auto;

    @media screen and (min-width: 1024px) {
        left: auto;
        right: -17rem;
        bottom: auto;
        top: calc(50% - 2rem);

        &:focus,
        &:hover {
            transform: translateX(0.25rem);
        }
    }

    &:active {
        cursor: wait;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 150%;
            height: 100%;
            background: repeating-linear-gradient(
                60deg,
                transparent,
                transparent 0.75rem,
                var(--blue) 0.75rem,
                var(--blue) 1.5rem
            );
            animation: loading 1s infinite linear;
        }
    }
}

.PlayButtonText {
    position: relative;
    color: var(--black);
}

@keyframes loading {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1.75rem);
    }
}
