.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
        animation: fade-in var(--transition-time) ease-out forwards;
    }

    &.hide {
        animation: fade-out var(--transition-time) ease-in-out forwards;
    }

    &.hidden {
        visibility: hidden;
    }
}

.Content {
    max-width: calc(min(100vw, 720px) - 2rem);
    z-index: 3;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--blue-lighter);
    position: relative;

    &.show {
        animation: slide-up var(--transition-time) ease-out forwards;
    }

    &.hide {
        animation: slide-down var(--transition-time) ease-in-out forwards;
    }
}

.CrossIcon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.Title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
    color: var(--black);
    font-size: 2.25rem;

    @media screen and (min-width: 1024px) {
        font-size: 2.5rem;
    }
}

.Body {
    font-size: 1.25rem;
    margin-bottom: 3rem;
    color: var(--black);
}

.Footer {
    display: flex;
    justify-content: flex-end;

    column-gap: 0.5rem;

    @media screen and (min-width: 1024px) {
        column-gap: 0.5rem;
    }

    &.withOneElement {
        justify-content: center;
    }
}

.Button {
    border: none;
    outline: none;
    border: 0.125rem solid var(--black);
    border-radius: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    color: var(--black);
    transition:
        background-color var(--transition-time),
        color var(--transition-time);
    user-select: none;

    width: 50%;
    padding: 1rem;

    @media screen and (min-width: 1024px) {
        width: auto;
        padding: 0.5rem 1rem;
    }

    &:hover,
    &:focus {
        background-color: var(--black);
        color: var(--white);
    }
}

@keyframes fade-in {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes fade-out {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
        background-color: transparent;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(1rem);
        opacity: 0;
    }
}
