:root {
    --white: #ffffff;
    --gray-lighter: #f7f7f7;
    --gray: #eaeaea;
    --black: #202a31;
    --red: #f44336;
    --green: #3dbb6b;
    --blue-lighter: #f0f5fa;
    --blue-light: #bfd7ea;
    --blue: #93bbdc;
    --blue-dark: #74a8d2;
    --blue-darker: #2d608b;

    --transition-time: 0.2s;
}

html {
    font-family: 'Quicksand-Medium', sans-serif;
    font-size: calc(100vw / 30);
    height: 100%;

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }
}

body {
    height: 100%;

    &.with-overlay {
        overflow: hidden;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
}

#root {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
