.SudokuGridHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    height: 2rem;
}

.ButtonContainer {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.IconButton {
    height: 2rem;
}

.Stars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Time {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
}
