.PauseOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @supports (backdrop-filter: none) {
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(0.4rem);
    }

    @supports not (backdrop-filter: none) {
        background-color: var(--gray-lighter);
    }
}
