/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: 'Pacifico';
    font-display: swap;
    src: url('@/assets/fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PTMono';
    src: url('@/assets/fonts/PTMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('@/assets/fonts/Quicksand-Medium.ttf') format('truetype');
}
