/*
  Based on Josh's custom CSS reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --white: #ffffff;
    --black: #202a31;
    --blue-lighter: #f4f8fc;
    --blue-light: #bfd7ea;
    --blue-dark: #74a8d2;
    --blue-darker: #2d608b;
    --green: #14cc60;
    --red: #f42c04;

    --transition-time: 0.2s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    font-size: calc(100vw / (560 / 16));

    @media screen and (min-width: 560px) {
        font-size: 16px;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    &.no-scroll {
        overflow: hidden;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: var(--black);
}

#root,
#__next {
    isolation: isolate;
}
