.DigitButtons {
    display: grid;
    width: 100%;
    gap: 0.25rem;

    &.count_4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &.count_6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &.count_8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &.count_9 {
        grid-template-columns: repeat(9, minmax(0, 1fr));

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

.Button {
    background-color: var(--blue-light);
    border-radius: 0.25rem;
    border: none;
    color: var(--black);
    font-weight: bold;
    transition: background-color var(--transition-time);
    user-select: none;

    &.count_4 {
        height: 4rem;
        font-size: 1.5rem;

        @media screen and (min-width: 1024px) {
            height: 6rem;
            font-size: 2rem;
        }
    }

    &.count_6 {
        height: 3.5rem;
        font-size: 1.25rem;

        @media screen and (min-width: 1024px) {
            height: 5rem;
            font-size: 1.75rem;
        }
    }

    &.count_8 {
        height: 3rem;
        font-size: 1.25rem;

        @media screen and (min-width: 1024px) {
            height: 4rem;
            font-size: 1.5rem;
        }
    }

    &.count_9 {
        height: 3rem;
        font-size: 1.25rem;

        @media screen and (min-width: 1024px) {
            height: 5rem;
            font-size: 1.5rem;
        }
    }

    &:not(.disabled) {
        cursor: pointer;

        &.selected,
        &:hover,
        &:focus {
            background-color: var(--blue-dark);
        }
    }
}
