.DigitButtons {
    display: grid;
    width: 100%;
}

.Button {
    background-color: var(--blue-light);
    border-radius: 0.25rem;
    border: none;
    color: var(--black);
    font-weight: bold;
    transition: background-color var(--transition-time);
    user-select: none;

    height: 3rem;
    font-size: 1.25rem;

    @media screen and (min-width: 1024px) {
        height: 5rem;
        font-size: 1.5rem;
    }

    &:not(.disabled) {
        cursor: pointer;

        &.selected,
        &:hover,
        &:focus {
            background-color: var(--blue-dark);
        }
    }
}
