.Slider {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-light);
    padding: 0.5rem;
    border-radius: 0.75rem;
    position: relative;

    height: 5rem;

    @media screen and (min-width: 1024px) {
        height: 4rem;
    }
}

.Thumb {
    position: absolute;
    background-color: var(--blue-darker);
    height: calc(100% - 1rem);
    border-radius: 0.5rem;
    transition: transform var(--transition-time);
}

.SliderItem {
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    transition: color var(--transition-time);
    user-select: none;
    z-index: 1;

    &:focus-visible {
        outline: 0.125rem dashed var(--black);
    }

    &.selected {
        color: var(--white);
    }
}
